{% extends '::base.html.twig' %}

{#
{% extends 'MyBlogBlogBundle:Admin:categoryForm.html.twig' %}
#}
{% block body %}

  <h3>Crear categoria</h3>  

  {% for flashMessage in app.session.flashbag.get('notice') %}
  <div class="flash-notice">
    {{ flashMessage }}
  </div>
  {% endfor %}


  {{ include('MyBlogBlogBundle:Admin:categoryForm.html.twig', {'form': form, 'action_url': path('my_blog_admin_category_new') }) }}

{% endblock %}