{% extends 'RSantellanSitioBundle::layout.html.twig' %}
{% block body %}
<!-- START SEPARATOR  -->
	<div id="separator">
		<div class="btop-1px"></div>
		<div class="container">
			<!-- start separator -->
			<div class="sixteen columns">
				<h4 class="page-title">{% trans %}rsantellan_site_about_me_title{% endtrans %}</h4>
			</div><!-- sixteen columns -->
		</div><!-- .container -->
		<div class="bbottom-1px"></div>
	</div><!-- #separator -->
	<!-- END SEPARATOR -->	



	<!-- START PAGE WRAPPER -->
	<div class="container main-wrapper">
		<div id="main-content" class="sixteen columns">
			<div class="row remove-bottom clearfix">
                <img alt="" src="{{ 'web/images/100_3863.JPG' | mImage(283, 262, 'rce', true) }}" class="border alignright" title="Align Right" width="200" />
			<p>Curabitur scelerisque mauris quis diam gravida eu placerat ligula scelerisque. In vitae sem nec massa imperdiet condimentum. Donec ut mauris vel risus rutrum commodo.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<div class="alignleft caption">
                <img alt="" src="{{ 'web/images/100_3750.JPG' | mImage(283, 262, 'rce', true) }}" class="border" title="Align Left" width="150" />
				<p>Praesent odio ligula, dapibus sed, tincidunt eget, dictum nibh</p>
			</div>
			<p>Curabitur pretium tincidunt lacus. Nulla gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros bibendum elit, nec luctus magna felis sollicitudin mauris. Integer in mauris eu nibh euismod gravida. Duis ac tellus et risus vulputate vehicula. Donec lobortis risus a elit. Etiam tempor. Ut ullamcorper, ligula eu tempor congue, eros est euismod turpis, id tincidunt sapien risus a quam. Maecenas fermentum consequat mi. Donec fermentum. Pellentesque malesuada nulla a mi. Duis sapien sem, aliquet nec, commodo eget, consequat quis, neque. Aliquam faucibus, elit ut dictum aliquet, felis nisl adipiscing sapien, sed malesuada diam lacus eget erat. Cras mollis scelerisque nunc. Nullam arcu. Aliquam consequat. Curabitur augue lorem, dapibus quis, laoreet et, pretium ac, nisi. Aenean magna nisl, mollis quis, molestie eu, feugiat in, orci. In hac habitasse platea dictumst.</p>			
			</div>

			<!-- LISTS -->
			<h5>Styling Lists</h5>
			<p>Aliquam vehicula sem ut pede. Cras purus lectus, egestas eu, vehicula at, imperdiet sed, nibh. Morbi consectetuer luctus felis. Donec vitae nisi. Aliquam tincidunt feugiat elit. Duis sed elit ut turpis ullamcorper feugiat. Praesent pretium, mauris sed fermentum hendrerit, nulla lorem iaculis magna, pulvinar scelerisque urna tellus a justo. Suspendisse pulvinar massa in metus. Duis quis quam. Proin justo. Curabitur ac sapien. Nam erat. Praesent ut quam.</p>
			<div class="row">
				<div class="six columns alpha">
					<ul class="disc">
						<li>Curabitur scelerisque mauris quis diam gravida</li>
						<li>In vitae sem nec massa imperdiet condimentum</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
						<li>Nullam varius, turpis et commodo pharetra, est eros bibendum elit</li>
						<li>Donec vitae nisi. Aliquam tincidunt feugiat elit.</li>
					</ul>
				</div><!-- six -->
				<div class="six columns omega">
					<ul class="square">
						<li>Curabitur scelerisque mauris quis diam gravida</li>
						<li>In vitae sem nec massa imperdiet condimentum</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
						<li>Nullam varius, turpis et commodo pharetra, est eros bibendum elit</li>
						<li>Donec vitae nisi. Aliquam tincidunt feugiat elit.</li>
					</ul>
				</div><!-- six-->
			</div><!-- row -->
			<p>Donec imperdiet. Vestibulum auctor tortor at orci. Integer semper, nisi eget suscipit eleifend, erat nisl hendrerit justo, eget vestibulum lorem justo ac leo. Integer sem velit, pharetra in, fringilla eu, fermentum id, felis.</p>
			<div class="row">
				<div class="six columns alpha">
					<ul class="circle">
						<li>Curabitur scelerisque mauris quis diam gravida</li>
						<li>In vitae sem nec massa imperdiet condimentum</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
						<li>Nullam varius, turpis et commodo pharetra, est eros bibendum elit</li>
						<li>Donec vitae nisi. Aliquam tincidunt feugiat elit.</li>
					</ul>
				</div><!-- six -->
				<div class="six columns omega">
					<ol>
						<li>Curabitur scelerisque mauris quis diam gravida</li>
						<li>In vitae sem nec massa imperdiet condimentum</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
						<li>Nullam varius, turpis et commodo pharetra, est eros bibendum elit</li>
						<li>Donec vitae nisi. Aliquam tincidunt feugiat elit.</li>
					</ol>
				</div><!-- six-->
			</div><!-- row -->
			<p>Aliquam vehicula sem ut pede. Cras purus lectus, egestas eu, vehicula at, imperdiet sed, nibh. Morbi consectetuer luctus felis. Donec vitae nisi. Aliquam tincidunt feugiat elit. Duis sed elit ut turpis ullamcorper feugiat. Praesent pretium, mauris sed fermentum hendrerit, nulla lorem iaculis magna, pulvinar scelerisque urna tellus a justo.</p>
			<div class="row remove-bottom">
				<div class="six columns alpha">
					<ul class="arrow">
						<li>Curabitur scelerisque mauris quis diam gravida</li>
						<li>In vitae sem nec massa imperdiet condimentum</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
						<li>Nullam varius, turpis et commodo pharetra, est eros bibendum elit</li>
						<li>Donec vitae nisi. Aliquam tincidunt feugiat elit.</li>
					</ul>
				</div><!-- six -->
				<div class="six columns omega">
					<ul class="arrow2">
						<li>Curabitur scelerisque mauris quis diam gravida</li>
						<li>In vitae sem nec massa imperdiet condimentum</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
						<li>Nullam varius, turpis et commodo pharetra, est eros bibendum elit</li>
						<li>Donec vitae nisi. Aliquam tincidunt feugiat elit.</li>
					</ul>
				</div><!-- six-->
			</div><!-- row -->
			<!-- LISTS -->
		</div><!-- main-content -->
		
		
	</div><!-- .container -->

		
	<!-- END BLOG WRAPPER -->
{% endblock %}    