{% extends 'LoopitaMetalizadoraBundle:Admin:layout.html.twig' %}
{% block title %}{% trans %}metalizadora_admin_categories_edit{% endtrans %}{% endblock %}

{% block body %}
  <h3>{% trans %}metalizadora_admin_categories_edit_title{% endtrans %}</h3>  

  {% for flashMessage in app.session.flashbag.get('notice') %}
  <div class="flash-notice">
    {{ flashMessage }}
  </div>
  {% endfor %}
  {{ include('LoopitaMetalizadoraBundle:Admin:categoryForm.html.twig', {'form': form, 'action_url': path('loopita_metalizadora_category_edit', {'id': form.vars.value.id}) }) }}
  
<div class="new_link_container">
  <a href="{{ path("loopita_metalizadora_category") }}">{% trans %}metalizadora_admin_list{% endtrans %}</a>
</div>

{% endblock %}
