{% extends 'MaithCommonAdminBundle::bootstrap-layout.html.twig' %}

{% block body -%}
  <h2>{{ folder['name'] }}</h2><h3>{{ message.decodedSubject }}</h3>
  
  {{ message.htmlMessage | raw }}
  


{% endblock %}